## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## Visual Studio
.vs/
*.rsuser
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.sap
*.e2e
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Mm]sBuild/

## Build results
[Dd]ebug/
*.nupkg
*.snupkg

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml

## ReSharper/Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## WiX
*.wixobj
*.wixpdb
*.msi
*.msm
*.msp